<div class="container-fluid">
  <div class="row">
    <h1>Posts</h1>
    <div class="col-md-6 col-md-offset3">
      <div class="list-group">
        <app-post-list [listeDePosts]='tableauDePosts'></app-post-list>
      </div>
    </div>
  </div>
</div>
