<li *ngIf="postItem != null"
    [ngClass]='{"list-group-item": true,
                "list-group-item-success": postItem.loveIts> 0,
                "list-group-item-danger": postItem.loveIts <0}' >
      <div class="pull-right">
        {{postItem.createdAt | date: 'short'}}
      </div>
      <h2>
        {{postItem.title}}
      </h2>
  <p>
    {{postItem.content}}
  </p>
  <button class="btn btn-success" (click)="onLikeIt()">Like it</button>
  &nbsp;
  <button class="btn btn-danger"(click)="onDislikeIt()">Don't like it</button>
</li>
